<section class="flex-container">
    <h2 class="hidden">Main Page</h2>
    <div class="flexbox-item flex-box-image">
        <img class="imageCampaign" src="/images/hockey.jpg" alt="Logo">
    </div>

    <div class="flexbox-item flex-box-text">
        <p>
            Hockey is a beloved sport that brings people together from all walks of life. However, like any sport, it
            can also be a breeding ground for negative behavior, including bullying.</br>
            </br>

            At <span class="highlight">#WeAreAllHockey</span> , we believe that every player should be able to enjoy the
            sport without
            fear of
            harassment, sexism, or bullying.
        </p>

        <div>
            <p class="highlight-sentence">We are committed to </br>promoting a <span class="orange">culture</span> of
                <span class="red">respect</span></br> and
                <span class="blue">inclusivity</span>
                in hockey.
            </p>
        </div>

    </div>

</section>