.hidden {
  display: none;
}

.titleP {
  margin-top: 60px;
  font-size: 30px;
  color: #61c8ea;
}

.nav {
  display: inline;
}

header {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

body {
  background-color: #F5E3E0;
  display: grid;

}

.pic {
  float: left;
}

nav {

  .nav {
    float: center;
    padding: 20px 0 0 0;
    margin: 1em;
  }

  li {
    float: left;
    /* makes list horizontal */
    list-style-type: none;
    margin: 0 0 0 30px;
    /* separates 'buttons' */
  }

  a {
    font-size: 30px;
    margin: 0.5em;
    padding: 10px 15px;
    /* makes target area bigger */
    color: #4d4d4f;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  a:hover {
    color:  #61c8ea;
  }


}


a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #4d4d4f;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}